steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Subscription'
    ConnectedServiceName: 'test1'
    subscriptionName: 'd34371e9-1332-4eb8-9021-4c2acf9a66e8'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'AzureRmPipeline-rg1'
    location: 'Central US'
    templateLocation: 'Linked artifact'
    csmFile: 'CreateAzureStorage/azuredeploy.json'
    deploymentMode: 'Incremental'